@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 50s linear infinite;
  width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
